.game {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	/* Ensure the container takes up the full viewport height */
}

.grid {
	padding: 25px;
}

body {
	overflow: hidden;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.cell {
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell.normal {
	width: 50px;
	height: 50px;
}



.cell.User {
	transform: scale(1.15);
	/* Adjust the scale factor as needed */
	transition: none;
	/* Add transition for smooth scaling effect */
	animation: pulse 4s infinite alternate;
	/* Define pulse animation with alternate direction */
}

.cell.User {
	animation-delay: 1s;
}

@keyframes pulse {
	0% {
		transform: scale(1.15);
		/* Initial scale */
	}

	90% {
		transform: scale(1.15);
		/* Scale down */
	}

	100% {
		transform: scale(0.8);
		/* Target scale */
	}
}

.cell.Opponent {
	transform: scale(0.8);
	/* Adjust the scale factor as needed */
	transition: transform 0.3s ease;
	/* Add transition for smooth scaling effect */
}

.goal-cell {
	width: 100% !important;
	border-radius: 10px;
	display: flex;
	justify-content: center;
}

.info-bar {
	display: flex;
	justify-content: space-between;
}

.column {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lock-button {
	border: none;
	background: none;
	cursor: pointer;
}


.lock {
	width: 40px;
	/* Adjust size as needed */
	height: 40px;
	/* Adjust size as needed */
	stroke: white;
	stroke-width: 2px;
	fill: green;
}