/* game.css */
:root {
	/*  make sure to update movement delay in singlePlayer.js if this is changed*/
	--movement-delay: 200ms;
}

.game {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	/* Ensure the container takes up the full viewport height */
}

.grid {
	padding: 25px;
}

body {
	overflow: hidden;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.cell {
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell.normal {
	width: 50px;
	height: 50px;
}

.cell.Opponent {
	transform: scale(0.8);
	transition: transform 0.3s ease;
}

.cell.User {
	transform: scale(1.15) 1s ease;
	/* Add transition for smooth scaling effect */
	animation: enlargeSlightly ease, pulse infinite alternate;
	/* Define pulse animation with alternate direction */
	animation-duration: var(--movement-delay), 2.5s;
	animation-delay: 0s, var(--movement-delay);
}

@keyframes enlargeSlightly {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.15);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1.15);
	}
	90% {
		transform: scale(1.15);
	}
	100% {
		transform: scale(0.8);
	}
}

.cell.Moving_up {
	z-index: -1;
	animation: moving_up var(--movement-delay) 1;
}

@keyframes moving_up {
	0% {
		transform: translate(0);
	}
	100% {
		transform: translateY(-111%);
	}
}

.cell.Moving_down {
	z-index: -1;
	animation: moving_down var(--movement-delay) 1;
}

@keyframes moving_down {
	0% {
		transform: translate(0);
	}

	100% {
		transform: translateY(111%);
	}
}

.cell.Moving_right {
	z-index: -1;
	animation: moving_right var(--movement-delay) 1;
}

@keyframes moving_right {
	0% {
		transform: translate(0);
	}

	100% {
		transform: translateX(111%);
	}
}

.cell.Moving_left {
	z-index: -1;
	animation: moving_left var(--movement-delay) 1;
}

@keyframes moving_left {
	0% {
		transform: translate(0);
	}

	100% {
		transform: translateX(-111%);
	}
}

.goal-cell {
	width: 100% !important;
	border-radius: 10px;
	display: flex;
	justify-content: center;
}

.info-bar {
	display: flex;
	justify-content: space-between;
}

.column {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lock-button {
	border: none;
	background: none;
	cursor: pointer;
}


.lock {
	width: 40px;
	/* Adjust size as needed */
	height: 40px;
	/* Adjust size as needed */
	stroke: white;
	stroke-width: 2px;
	fill: green;
}